{
  "presets": ["next/babel"],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "styled-components",
      {
        "pure": true,
        "ssr": false
      }
    ],
    "babel-plugin-parameter-decorator"
  ]
}
